<app-wrapper [input]="wrapper" [loading]="!isReady">
    <div class="p-5">
        <mat-card *ngIf="isFormActive" style="width: 400px;">
            <mat-card-header>
                <mat-card-title>Project Form</mat-card-title>
                <button mat-icon-button style="position:absolute; top:0px ; right:0px; " (click)="closeForm()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-card-header>
            <mat-card-content>
                <app-create-new-issue (submitted)="afterFormSubmitted($event)"></app-create-new-issue>
            </mat-card-content>
        </mat-card>
        <ae-table [input]="tableData" *ngIf="isReady"></ae-table>
    </div>
</app-wrapper>