* {
    color: white;
}

.title {
    font-size: 50pt;
    line-height: 50pt;
}

.subtitle {
    font-size: 20pt;
    line-height: 30pt;
    opacity: 0.6;
    font-weight: 100;
}

hr {
    background-color: white;
}
