<mat-dialog-actions align="end">
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<h2 mat-dialog-title>Subscription Terms for Orange Check Application</h2>
<mat-dialog-content class="mat-typography">
    <h1>Individuals</h1>
    <p>Individuals are free to use this application.</p>
    <h1>Organizations</h1>
    <p>For organization of 20 or more employees, application purchase is requried. Please follow the link to contact us
        to <a routerLink="/pages/payment"> make the payment. </a></p>
</mat-dialog-content>