$primaryColor: #fdfdfd;
$activeColor: #ffffff;

// Transition animation
.transition {
  transition: all ease-in-out 400ms;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-list-item {
  padding-left: 0px;
  border: 1px solid transparent;
  transition: background-color, padding-left, border-left ease-in-out 400ms;
  overflow: hidden;
}

.is-active {
  background-color: $activeColor;
  border: 1px solid orangered;
  border-left: 12px solid orangered;
}

.mat-list-item:hover {
  background-color: lighten($color: $activeColor, $amount: 20);
}
