$primaryColor: #303030;
$activeColor: #303030;

// Transition animation
.transition {
  transition: all ease-in-out 400ms;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.location-path {
  border: 1px solid $primaryColor;
  //  top right bottom left
  padding: 2px 15px 2px 5px;
  margin: 0px 3px 0px 0px;
  border-radius: 5px 50% 50% 5px;
  background-color: $primaryColor;
  box-shadow: 0px 0px 10px $primaryColor;
  cursor: pointer;

  // font size
  line-height: 12pt;
  font-size: 9pt;

  // animation
  @extend .transition;
}

.mat-list-item {
  padding-left: 0px;
  border: 1px solid transparent;
  transition: background-color, padding-left, border-left ease-in-out 400ms;
  overflow: hidden;
}

.mat-list-item:active,
.mat-list-item:focus,
.is-active {
  background-color: $activeColor;
  border: 1px solid orangered;
  border-left: 12px solid orangered;
}

.mat-list-item:hover {
  background-color: lighten($color: $activeColor, $amount: 20);
}
