<app-wrapper [input]="wrapper" [loading]="loading ">
    <div>
        <mat-card>
            <mat-card-content>
                You selected <strong> {{selectedProjectCount }}</strong> out of
                <strong>{{projectCount  }}</strong>
                projects.
            </mat-card-content>
        </mat-card>
    </div>

    <div class="flex align-base p-5">
        <mat-card *ngIf="isFormActive" style="width: 400px;">
            <mat-card-header>
                <mat-card-title>Project Form</mat-card-title>
                <button mat-icon-button style="position:absolute; top:0px ; right:0px; " (click)="closeForm()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-card-header>
            <mat-card-content>
                <app-create-new-project (submitted)="afterFormSubmitted($event)"></app-create-new-project>
            </mat-card-content>
        </mat-card>

        <div class="flex flex-wrap">
            <mat-card class="m-5 hover-border cursor-pointer" *ngFor="let project of projects " matBadge="100"
                matBadgeColor="primary" (click)="selectOneProject(project)"
                [class.selected-item]="selectedProjects.includes(project.id)">
                <mat-card-header>
                    <mat-card-title>{{project.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p> {{project.description}} </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</app-wrapper>