<div class="card-container">
    <div class="card-container">
        <mat-card *ngFor="let project of projects" matBadge="100" matBadgeColor="primary">
            <mat-card-header>
                <mat-card-title>{{project.name}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    {{project.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <app-create-new-project></app-create-new-project>
</div>