.container {
    position: absolute;
    padding: 20px;
    background: linear-gradient(to right, rgb(246, 237, 237), rgb(218, 219, 191));
    box-shadow: 0px 0px 10px black;
}

.terms {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
